<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Recipe Book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
	<div th:replace="header::header"></div>
	<div class="container-fluid">
		<div class="row mt-2">
			<div class="col-12">
				<div th:replace="recipes::recipes"></div>
				<div th:replace="shopping-list::shopping-list"></div>
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>