<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (feature, selected)">
	<head>
		<title>Recipe Book</title>
		<base href="/">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
	</head>
	<body>
		<nav th:replace="header::header (${selected})"></nav>
		<div class="container-fluid">
			<th:block th:replace="${feature}"/>
			<hr>
		</div>
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script src="/js/custom.js"></script>
	</body>
</html>