<div th:fragment="recipe-list">
	<div class="row">
		<div class="col-12">
			<button type="button" class="btn btn-primary mb-2">New Recipe</button>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<a href="#" class="list-group-item list-group-item-action">
				<div class="d-flex justify-content-between">
					<div>
						<h5>Chipotle chicken tacos</h5>
						<p>Take your taste buds to Mexico with these flavoursome
							tacos.</p>
					</div>
					<div>
						<img
							src="https://img.taste.com.au/fF1NhAd6/w643-h428-cfill-q90/taste/2018/12/chipotle-chicken-tacos-144989-1.jpg"
							alt="" class="img-fluid" style="max-height: 100px">
					</div>
				</div>
			</a>
		</div>
	</div>

</div>