<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="recipe-detail">
	<div class="row">
		<div class="col-12">
			<img src="https://via.placeholder.com/500" alt="" class="img-fluid">
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h5>Recipe Name</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<p>Recipe Description</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<p>Ingredients</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button"
					data-toggle="dropdown">Manage Recipe</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">To Shopping List</a>
					<a class="dropdown-item" href="#">Edit Recipe</a>
					<a class="dropdown-item" href="#">Delete Recipe</a>
				</div>
			</div>
		</div>
	</div>
</div>
</html>