<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="row" th:fragment="recipe-detail">
		<div class="col-12">
			<img src="https://via.placeholder.com/500" alt="" class="img-fluid">
			<h5 class="mt-2">Recipe Name</h5>
			<p>Recipe Description</p>
			<p>Ingredients</p>
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage Recipe</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">To Shopping List</a>
					<a class="dropdown-item" href="#">Edit Recipe</a>
					<a class="dropdown-item" href="#">Delete Recipe</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>