<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout::layout(~{::#feature},'shopping-list')}">
<body>
	<div class="row" id="feature">
		<div class="col-12">
			<hr>
			<div th:replace="shopping-list-edit::shopping-list-edit"></div>
			<hr>
			<div class="list-group">
	      <a class="list-group-item list-group-item-action"
	      	 href="#"
	         th:each="ingredient: ${ingredients}"
	         th:text="|${ingredient.name} (${ingredient.amount})|"
	         th:href="@{shopping-list/} + ${ingredientStat.index}">
	      	Apple (5)
	      </a>
	    </div>
	    <p th:if="${ingredients.isEmpty()}">Shopping list is empty.</p>
		</div>
	</div>
</body>
</html>