<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="shopping-list-edit" class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-lg-6 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control">
          </div>
          <div class="col-lg-6 form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control">
          </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success">Add</button>
          <button type="button" class="btn btn-secondary mx-2">Clear</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>
</html>